opencv-python=4.5.1.48=pypi_0
python-jsonrpc-server=0.3.4=py_1
ujson=1.35=py38he774522_0
jsonschema=3.2.0=py38_0
numpy=1.20.3=pypi_0
numpydoc=1.1.0=py_0
onnxruntime=1.7.0=pypi_0
pandas=1.2.4=pypi_0
matplotlib=3.4.1=pypi_0